body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: white;
    padding: 2rem; /* espaçamento interno de 2x o tamanho do elemento raíz */
    width: 70%; /* ocupa 70% da largura disponível */
    margin: 0 auto; /* centraliza o conteúdo */
}

.galeria {
    display: flex; 
    align-content: flex-start; /* alinha as imagens no início do container */
    gap: 15px; /* espaçamento entre as imagens */
    flex-wrap: wrap; /* permite que as imagens quebrem linha */
    padding: 2%;
}

h2 {
    color: #555151;
}

footer {
    margin-top: 0.5rem; /* espaçamento externo de 0.5x o tamanho do elemento raíz */
    border-radius: 10px; /* bordas arredondadas */
    padding: 1rem;  /* espaçamento interno de 1x o tamanho do elemento raíz */
    text-align: center; /* centraliza o texto */
    background-color: #555151; 
    color: white;
    font-size:smaller; 
}

header {
    padding: 2rem; /* espaçamento interno de 2x o tamanho do elemento raíz */
    border-radius: 10px;
    text-align: center; 
    background-color: #555151;
}

img {
    border-radius: 10px;
    box-shadow: 3px 3px 4px #7c7878;
    box-sizing: border-box;
    flex: 1 1 250px;
    width: 100%;
}

nav {
    margin-top: 0.5rem;;
    border-radius: 10px;
    background-color: #555151;
    padding: 10px;
    text-align: center;
    position: sticky; /* requisito do trabalho */
    top: 0; /* requisito do trabalho */
}

main {
    margin-top: 0.5rem; /* espaçamento externo de 0.5x o tamanho do elemento raíz */
    border-radius: 10px; 
    background-color: white; 
    padding: 2rem; 
    box-shadow: 0 0 5px #d3cccc;
}

/* seletor de filho: afeta apenas uma ul que seja filha de uma nav */
nav > ul {
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0.5rem;
    width: 100%;
}

/* seletor de descendente: afeta todos os li descendentes de uma ul */
ul li {
    display: inline-block;
    padding: 0 2%; /* Cada item da lista ocupará o mesmo espaço */
    text-align: center;
}

/* estilo dos links */
a:link, a:visited {
    color: #f4f4f4;
    text-decoration: none;
}

/* pseudoclasses: quando o usuário passar encima do link, ele muda pra cor whitesmoke */
a:hover {
    color: whitesmoke;
}

/* classe utilizada para destacar a página em que o usuário se encontra no elemento nav */
.currentPage {
    color: whitesmoke;
    font-weight: bold; 
    border-bottom: 2px solid whitesmoke;
}

/* quando a largura do viewport do dispositivo 
for <= 600px, o body ocupa 100% do vw */
@media (max-width: 600px) {
    body {
        width: 100%;
    }
}