body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    /* cor padrão para texto */
    color: #555151;
    /* elementos posicionados verticalmente */
    justify-content: center;
    /* centraliza os elementos verticalmente */
    align-items: center;
    padding: 0;
    margin: 0;
}

header {
    margin-bottom: 20px;
    /* +20px abaixo do header */
    text-align: center;
    /* centraliza o texto */
}

nav {
    background-color: #555151;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
}

h2 {
    text-align: center;
}

main {
    background-color: white;
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 0 5px #d3cccc;
}

footer {
    padding: 10px;
    text-align: center;
    color: #555151;
    font-size:smaller;
}

/* seletor de filho: afeta apenas uma ul que seja filha de uma nav */
nav > ul {
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0.5rem;
    width: 100%;
}

/* seletor de descendente: afeta todos os li descendentes de uma ul */
ul li {
    display: inline-block;
    padding: 0 2%; /* Cada item da lista ocupará o mesmo espaço */
    text-align: center;
}

.tabs section.active-tab{
    display: block; /* exibe a sessao ativa */
}


nav button {
    background-color: transparent;
    border: none;
    color: white;
}

/* destaca botao no qual o usuario se encontra */
nav button.active-button {
    background-color: transparent;
    color: whitesmoke;
    font-weight: bold; 
    border-bottom: 2px solid whitesmoke;
}

.tabs section {
    display: none; /* retira as sessoes nao ativas do layout */
}

label {
    display: block;
}

form {
    width: 50%;
    margin: 0 auto;
}

input, button {
    width: 100%;
    padding: 0.4rem; /* espaçamento interno de 0.4x o tamanho do elemento raíz */
    margin: 0.5rem 0; /* espaçamento externo (superior e inferior) de 0.5x do tamanho do elemento raíz */
    outline: none; /* remove borda padrão do input */
    border: 0.5px solid grey; /* borda de 0.5px cinza */
    box-sizing: border-box; /* cálculos contabilizados no tamanho da borda do elemento */
}

button:hover {
    cursor: pointer;
}

/* quando input está em foco, ele fica sombreado */
input:focus {
    box-shadow: 0 0 5px grey;
}

/* configuração visual do símbolo inserido */
button .material-symbols-outlined {
    font-size: 18px; /* diminui tamanho do ícone */
    vertical-align: bottom;
}

img {
    border-radius: 10px;
    box-shadow: 3px 3px 4px #7c7878;
    box-sizing: border-box;
    flex: 1 1 250px;
    width: 100%;
}

table {
    display: flex; 
    align-content: flex-start; /* alinha as imagens no início do container */
    gap: 15px; /* espaçamento entre as imagens */
    flex-wrap: wrap; /* permite que as imagens quebrem linha */
    padding: 2%;
}

/* quando a largura do viewport do dispositivo 
for <= 600px, o body ocupa 100% do vw */
@media (max-width: 600px) {
    body {
        width: 100%;
    }
}