body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* cor padrão para texto */
    color: #333;
    /* elementos posicionados verticalmente */
    justify-content: center;
    /* centraliza os elementos verticalmente */
    align-items: center;
    /* centraliza os elementos horizontalmente */
  }

  header {
    margin-bottom: 20px;
    /* +20px abaixo do header */
    text-align: center;
    /* centraliza o texto */
  }

  header h1 {
    font-size: 2.5rem;
    color: #333;
  }

  main {
    background-color: #fff;
    padding: 20px;
    /* preenchimento interno em todos os lados */
    border-radius: 8px;
    /* bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
  }

  h2 {
    font-size: 1.8rem;
    /* 1.8x tamanho padrão */
    margin-bottom: 10px;
    /* +10px abaixo do h2 */
    color: #007BFF;
    text-align: center;
  }

  ol {
    list-style-type: decimal;
    /* apresenta lista numerada */
    margin-left: 20px;
    /* recuo à esquerda */
  }

  ol li {
    margin: 10px 0;
    /* +10px acima e abaixo de cada item */
  }

  ol li a {
    text-decoration: none;
    /* remove sublinhado */
    color: #007BFF;
    font-weight: bold;
  }

  ol li a:hover {
    color: #0056b3;
  }