body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    /* cor padrão para texto */
    color: white;
    /* elementos posicionados verticalmente */
    justify-content: center;
    /* centraliza os elementos verticalmente */
    align-items: center;
    /* centraliza os elementos horizontalmente */
    padding: 2rem;
    width: 70%;
    margin: 0 auto;
}

h2 {
    color: #555151;
}

footer {
    margin-top: 0.5rem;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #555151;
    color: white;
    font-size:smaller;
}

header {
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 20px;
    /* +20px abaixo do header */
    text-align: center;
    /* centraliza o texto */
    background-color: #555151;
}

img {
    border-radius: 10px;
    box-shadow: 3px 3px 4px #7c7878;
    height: 14vh;
    width: 12vw;
    margin: 10px;
    display: flex;
    box-sizing: border-box;
}

nav {
    border-radius: 10px;
    background-color: #555151;
    padding: 10px;
    text-align: center;
    position: sticky;
    top: 0;
}

main {
    margin-top: 0.5rem;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 5px #d3cccc;
}

/* seletor de filho: afeta apenas uma ul que seja filha de uma nav */
nav > ul {
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0.5rem;
    width: 100%;
}

/* seletor de descendente: afeta todos os li descendentes de uma ul */
ul li {
    display: inline-block;
    padding: 0 2%; /* Cada item da lista ocupará o mesmo espaço */
    text-align: center;
}

a:link, a:visited {
    color: #f4f4f4;
    text-decoration: none;
}

/* item 7 - pseudoclasses: quando o usuário passar encima do link, ele muda pra cor whitesmoke */
a:hover {
    color: whitesmoke;
}

/* classe utilizada para destacar a página em que o usuário se encontra no elemento nav */
.currentPage {
    color: whitesmoke;
    font-weight: bold; 
    border-bottom: 2px solid whitesmoke;
}