body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #555151;
}

header {
    margin-bottom: 20px; /* espaçamento externo de 20px */
    text-align: center; /* centraliza texto contido no header */
}

nav {
    background-color: #555151;
    padding: 10px;
    text-align: center; /* centraliza texto contido no header */
    position: sticky; /* requisito do trabalho */
    top: 0; /* requisito do trabalho */
}

main {
    background-color: white;
    padding: 2rem; /* espaçamento interno de 2x o tamanho do elemento raíz */
    width: 70%; /* ocupa 70% da largura disponível */
    margin: 0 auto; /* centraliza o conteúdo */
    box-shadow: 0 0 5px #d3cccc; 
}

footer {
    padding: 10px;
    text-align: center;
    color: #555151;
    font-size:smaller;
}

/* seletor de filho: afeta apenas uma ul que seja filha de uma nav */
nav > ul {
    justify-content: space-between;
    padding: 0; /* remove o espaçamento padrão para elementos ficarem centralizados */
    margin: 0.5rem; /* espaçamento externo de 0.5x o tamanho do elemento raíz */
    width: 100%; /* ocupa 100% da largura disponível */
}

/* seletor de descendente: afeta todos os li descendentes de uma ul */
ul li {
    display: inline-block; /* apresentação da lista é em linha */
    padding: 0 2%; /* espaçamento entre o itens */
}

/* estilo dos links */
a:link, a:visited {
    color: #f4f4f4;
    text-decoration: none; /* remove o sublinhado padrão */
}

/* pseudoclasses: quando o usuário passar encima do link, ele muda pra cor whitesmoke */
a:hover {
    color: whitesmoke;
}

/* classe utilizada para destacar a página em que o usuário se encontra no elemento nav */
.currentPage {
    color: whitesmoke;
    font-weight: bold; 
    border-bottom: 2px solid whitesmoke;
}